<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.basic.backend.mapper.MedicationMapper">

    <select id="countByUserId" resultType="int">
        SELECT COUNT(1) FROM medications WHERE user_id = #{userId}
    </select>

    <select id="selectByUserId" resultType="com.basic.backend.entity.Medication">
        SELECT id,
               user_id AS userId,
               name,
               is_active AS isActive,
               dosage,
               expected_doses_per_day AS expectedDosesPerDay,
               created_at AS createdAt
        FROM medications
        WHERE user_id = #{userId}
        ORDER BY id
    </select>

    <insert id="insert" parameterType="com.basic.backend.entity.Medication"
            useGeneratedKeys="true" keyProperty="id">
        INSERT INTO medications
            (user_id, name, is_active, dosage, expected_doses_per_day, created_at)
        VALUES
            (#{userId}, #{name}, #{isActive}, #{dosage}, #{expectedDosesPerDay}, NOW())
    </insert>

    <select id="selectDashboardMedications"
            resultType="com.basic.backend.dto.DashboardMedicationQueryDTO">

        select
            m.id as medication_id,
            m.name,
            m.dosage,
            m.expected_doses_per_day,

            coalesce(sum(l.doses_taken),0) as taken_today

        from medications m

                 left join medication_daily_logs l
                           on m.id = l.medication_id
                               and l.user_id = m.user_id
                               and l.log_date = curdate()

        where m.user_id = #{userId}
          and m.is_active = 1

        group by
            m.id,
            m.name,
            m.dosage,
            m.expected_doses_per_day

    </select>

    <select id="selectActiveByIdAndUserId"
            resultType="com.basic.backend.entity.Medication">
        select id,
               user_id,
               name,
               is_active,
               dosage,
               expected_doses_per_day,
               created_at
        from medications
        where id = #{id}
          and user_id = #{userId}
          and is_active = 1
            limit 1
    </select>
</mapper>